In [1]:
import pandas as pd
import numpy as np

## Imports

In [2]:
XYZ_web = {"Day":[1,2,3,4,5],"Visitors":[11,22,33,44,55],"Bounce_Rate":[10,20,30,40,50]}
print(pd.DataFrame(XYZ_web).head(2),"\n")
print(pd.DataFrame(XYZ_web))

   Day  Visitors  Bounce_Rate
0    1        11           10
1    2        22           20

   Day  Visitors  Bounce_Rate
0    1        11           10
1    2        22           20
2    3        33           30
3    4        44           40
4    5        55           50

In [3]:
data = [
    {'A':1,"B":2},
    {'A':4,"B":5,"C":5},
    {'A':1,"B":4,"C":8},
]
df = pd.DataFrame(data)
print(df,"\n")
print(df.info())
print(df.describe())
print(df.count())

   A  B    C
0  1  2  NaN
1  4  5  5.0
2  1  4  8.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       2 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 204.0 bytes
None
              A         B        C
count  3.000000  3.000000  2.00000
mean   2.000000  3.666667  6.50000
std    1.732051  1.527525  2.12132
min    1.000000  2.000000  5.00000
25%    1.000000  3.000000  5.75000
50%    1.000000  4.000000  6.50000
75%    2.500000  4.500000  7.25000
max    4.000000  5.000000  8.00000
A    3
B    3
C    2
dtype: int64

In [4]:
print("Columns 'A'\n",df)
print(df.iloc[1])
print(df.loc[0])
print(df[df['A'] > 2])

Columns 'A'
    A  B    C
0  1  2  NaN
1  4  5  5.0
2  1  4  8.0
A    4.0
B    5.0
C    5.0
Name: 1, dtype: float64
A    1.0
B    2.0
C    NaN
Name: 0, dtype: float64
   A  B    C
1  4  5  5.0

In [5]:
import pandas as pd
import numpy as np

# # 1. Creating Series and DataFrames
print("1. Creating Series and DataFrames")

# # Creating a Series
ser = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print("Series:\n",ser)

# # Creating a DataFrame from a dictionary
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)
print("DataFrame from dictionary:\n", df)

# # Creating a DataFrame from a list of dictionaries
data = [
    {'A': 1, 'B': 2},
    {'A': 3, 'B': 4, 'C': 5},
    {'A': 6, 'B': 7, 'C': 8}
]
df = pd.DataFrame(data)
print("DataFrame from list of dictionaries:\n", df)

# # 2. Viewing Data
# print("\n2. Viewing Data")

# print("Head of the DataFrame:\n", df.head(1))
# print("Tail of the DataFrame:\n", df.tail(1))
# print("DataFrame info:")
# print(df.info())
# print("DataFrame description:\n", df.describe())

# # 3. Indexing and Selecting Data
# print("\n3. Indexing and Selecting Data")

# # Selecting a column
print(df)
# print("Column 'A':\n", df['A'])

# # Selecting multiple columns
# print("Columns 'A' and 'C':\n", df[['A', 'C']])

# # Selecting rows by index
# print("Row at index 1:\n", df.iloc[1])

# # Selecting rows by label
# print("Row with label abc:\n", df.loc[0])

# # Boolean indexing
print("Rows where column 'A' > 2:\n", df[df['A'] > 2])

1. Creating Series and DataFrames
Series:
 a    1
b    2
c    3
d    4
e    5
dtype: int64
DataFrame from dictionary:
    A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12
DataFrame from list of dictionaries:
    A  B    C
0  1  2  NaN
1  3  4  5.0
2  6  7  8.0
   A  B    C
0  1  2  NaN
1  3  4  5.0
2  6  7  8.0
Rows where column 'A' > 2:
    A  B    C
1  3  4  5.0
2  6  7  8.0

## Data Cleaning

In [6]:
data = [
    {'A': 1, 'B': 2},
    {'A': 3, 'B': 4, 'C': 5},
    {'A': 6, 'B': 7, 'C': 8}
]
df = pd.DataFrame(data)
df_with_nan = df.copy()
df_with_nan.loc[1,'B'] = np.nan
print(df_with_nan)
print(df_with_nan.fillna(0))
# df_with_dumps = df.append(df.iloc[0])
print(df_with_nan.drop_duplicates())
df['D'] = df['A'] *2
df1 = pd.DataFrame({'key':['A','B','C'],'value':[1,2,3]})
df2 = pd.DataFrame({'key':['A','B','C'],'value':[8,9,12]})
merged = pd.merge(df1,df2,on='key',how='inner')
print(merged)
print(pd.concat([df1,df2],axis=1))
print(pd.concat([df1,df2]))

   A    B    C
0  1  2.0  NaN
1  3  NaN  5.0
2  6  7.0  8.0
   A    B    C
0  1  2.0  0.0
1  3  0.0  5.0
2  6  7.0  8.0
   A    B    C
0  1  2.0  NaN
1  3  NaN  5.0
2  6  7.0  8.0
  key  value_x  value_y
0   A        1        8
1   B        2        9
2   C        3       12
  key  value key  value
0   A      1   A      8
1   B      2   B      9
2   C      3   C     12
  key  value
0   A      1
1   B      2
2   C      3
0   A      8
1   B      9
2   C     12

In [7]:
import pandas as pd
import numpy as np

# # 1. Creating Series and DataFrames
print("1. Creating Series and DataFrames")

# # Creating a Series
ser = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print("Series:\n",ser)

# # Creating a DataFrame from a dictionary
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)
print("DataFrame from dictionary:\n", df)

# # Creating a DataFrame from a list of dictionaries
data = [
    {'A': 1, 'B': 2},
    {'A': 3, 'B': 4, 'C': 5},
    {'A': 6, 'B': 7, 'C': 8}
]
df = pd.DataFrame(data)
print("DataFrame from list of dictionaries:\n", df)

# # 2. Viewing Data
# print("\n2. Viewing Data")

# print("Head of the DataFrame:\n", df.head(1))
# print("Tail of the DataFrame:\n", df.tail(1))
# print("DataFrame info:")
# print(df.info())
# print("DataFrame description:\n", df.describe())

# # 3. Indexing and Selecting Data
# print("\n3. Indexing and Selecting Data")

# # Selecting a column
# print(df)
# print("Column 'A':\n", df['A'])

# # Selecting multiple columns
# print("Columns 'A' and 'C':\n", df[['A', 'C']])

# # Selecting rows by index
# print("Row at index 1:\n", df.iloc[1])

# # Selecting rows by label
# print("Row with label abc:\n", df.loc[0])

# Boolean indexing
# print("Rows where column 'A' > 2:\n", df[df['A'] > 2])

# # 4. Data Cleaning
# print("\n4. Data Cleaning")
print(df)
# # Handling missing data
df_with_nan = df.copy()
df_with_nan.loc[1, 'B'] = np.nan
print("DataFrame with NaN:\n", df_with_nan)

# # Dropping missing values
# print("DataFrame with NaN dropped:\n", df_with_nan.dropna())

# # Filling missing values
# print("DataFrame with NaN filled:\n", df_with_nan.fillna(5))

# # Removing duplicates
# df_with_dupes = df.append(df.iloc[0])
# print("DataFrame with duplicates:\n", df_with_dupes)
# print("DataFrame with duplicates removed:\n", df_with_dupes.drop_duplicates())

# # 5. Data Transformation
# print("\n5. Data Transformation")

# # Adding a new column
df['D'] = df['A'] * 2
print("DataFrame with new column 'D':\n", df)

# # Applying functions to columns
# print("DataFrame with function applied to column 'A':\n", df['A'].apply(np.sqrt))

# # Renaming columns
# df_renamed = df.rename(columns={'A': 'a', 'B': 'b'})
# print("Renamed DataFrame:\n", df_renamed)

# # 6. Merging and Joining
# print("\n6. Merging and Joining")

df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value': [1, 2, 3]})
df2 = pd.DataFrame({'key': ['B', 'C', 'D'], 'value': [4, 5, 6]})
# print(df1)
# print(df2)

# # Merging DataFrames
# merged_df = pd.merge(df1, df2, on='key', how='inner')
# print("Merged DataFrame (inner join):\n", merged_df)

# # Concatenating DataFrames
print(df1)
print(df2)
# concat_df = pd.concat([df1, df2], axis=0)
# print("Concatenated DataFrame:\n", concat_df)

# # 7. Grouping and Aggregating
# print("\n7. Grouping and Aggregating")

grouped = df.groupby('A').sum()
print("Grouped and summed DataFrame:\n", grouped)

# # 8. Pivot Tables
# print("\n8. Pivot Tables")

# pivot_df = pd.pivot_table(df, values='C', index='A', columns='B', aggfunc=np.sum)
# print("Pivot Table:\n", pivot_df)

# # 9. Working with Dates
# print("\n9. Working with Dates")

# date_rng = pd.date_range(start='2020-01-01', end='2020-01-10', freq='D')
# df_dates = pd.DataFrame(date_rng, columns=['date'])
# df_dates['data'] = np.random.randn(len(date_rng))
# print("DataFrame with dates:\n", df_dates)

# # Setting the date column as the index
# df_dates.set_index('date', inplace=True)
# print("DataFrame with date index:\n", df_dates)

# # 10. Input and Output
# print("\n10. Input and Output")

# # Writing to CSV
# df.to_csv('data.csv', index=False)
# print("DataFrame written to 'data.csv'")

# # Reading from CSV
# df_from_csv = pd.read_csv('data.csv')
# print("DataFrame read from 'data.csv':\n", df_from_csv)

1. Creating Series and DataFrames
Series:
 a    1
b    2
c    3
d    4
e    5
dtype: int64
DataFrame from dictionary:
    A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12
DataFrame from list of dictionaries:
    A  B    C
0  1  2  NaN
1  3  4  5.0
2  6  7  8.0
   A  B    C
0  1  2  NaN
1  3  4  5.0
2  6  7  8.0
DataFrame with NaN:
    A    B    C
0  1  2.0  NaN
1  3  NaN  5.0
2  6  7.0  8.0
DataFrame with new column 'D':
    A  B    C   D
0  1  2  NaN   2
1  3  4  5.0   6
2  6  7  8.0  12
  key  value
0   A      1
1   B      2
2   C      3
  key  value
0   B      4
1   C      5
2   D      6
Grouped and summed DataFrame:
    B    C   D
A
1  2  0.0   2
3  4  5.0   6
6  7  8.0  12

## New Pandas

In [8]:
import pandas as pd

df = pd.read_csv('./dataset/students_scores.csv')
print(pd.DataFrame(df))
print("\n Math Means",df['Math'].mean())
print("\n English Median",df['English'].median())

  Student  Math  English  Science  History
0   Ankit    85       78       92       74
1     Tej    91       82       89       77
2   Tirth    78       95       88       80
3   Aansh    83       76       85       85
4   Hiren    90       85       91       88

 Math Means 85.4

 English Median 82.0

In [9]:
print("\n Sort by Math \n",df.sort_values(by='Math',ascending=True))
print("\n Sort by Math and English \n",df.sort_values(by=['English','Math'],ascending=[True,False]))
df['Average'] = df[['Math','English','Science','History']].mean(axis=1)
print("\nAdd column:\n",df)

 Sort by Math
   Student  Math  English  Science  History
2   Tirth    78       95       88       80
3   Aansh    83       76       85       85
0   Ankit    85       78       92       74
4   Hiren    90       85       91       88
1     Tej    91       82       89       77

 Sort by Math and English
   Student  Math  English  Science  History
3   Aansh    83       76       85       85
0   Ankit    85       78       92       74
1     Tej    91       82       89       77
4   Hiren    90       85       91       88
2   Tirth    78       95       88       80

Add column:
   Student  Math  English  Science  History  Average
0   Ankit    85       78       92       74    82.25
1     Tej    91       82       89       77    84.75
2   Tirth    78       95       88       80    85.25
3   Aansh    83       76       85       85    82.25
4   Hiren    90       85       91       88    88.50

In [10]:
df = df.drop(columns=['Average'])
print("\nDrop Columns\n",df)
print(df.groupby('Student').mean())

Drop Columns
   Student  Math  English  Science  History
0   Ankit    85       78       92       74
1     Tej    91       82       89       77
2   Tirth    78       95       88       80
3   Aansh    83       76       85       85
4   Hiren    90       85       91       88
         Math  English  Science  History
Student
Aansh    83.0     76.0     85.0     85.0
Ankit    85.0     78.0     92.0     74.0
Hiren    90.0     85.0     91.0     88.0
Tej      91.0     82.0     89.0     77.0
Tirth    78.0     95.0     88.0     80.0

In [11]:
# df.groupby('Student').agg(['mean','std'])

In [12]:
data_with_nan = {
    "Student": ["Aansh", "Ankit", "Tirth", "Tej", "Hiren"],
    "Math": [85, 91, 78, None, 90],
    "English": [78, None, 95, 76, 85],
    "Science": [92, 89, None, 85, 91],
    "History": [74, 77, 80, 85, None]
}

df_nan = pd.DataFrame(data_with_nan)

print("\nDataFrame with missing values:")
print(df_nan)

print("\nFill missing values with 0:")
df_filled = df_nan.fillna(0)
print(df_filled)

print("\nDrop rows with missing values:")
df_dropped = df_nan['English'].dropna()
print(df_dropped)

print("\nFill missing values with the mean of each column:")
df_filled_mean = df_nan.fillna(df_nan['History'].mean())
print(df_filled_mean)

DataFrame with missing values:
  Student  Math  English  Science  History
0   Aansh  85.0     78.0     92.0     74.0
1   Ankit  91.0      NaN     89.0     77.0
2   Tirth  78.0     95.0      NaN     80.0
3     Tej   NaN     76.0     85.0     85.0
4   Hiren  90.0     85.0     91.0      NaN

Fill missing values with 0:
  Student  Math  English  Science  History
0   Aansh  85.0     78.0     92.0     74.0
1   Ankit  91.0      0.0     89.0     77.0
2   Tirth  78.0     95.0      0.0     80.0
3     Tej   0.0     76.0     85.0     85.0
4   Hiren  90.0     85.0     91.0      0.0

Drop rows with missing values:
0    78.0
2    95.0
3    76.0
4    85.0
Name: English, dtype: float64

Fill missing values with the mean of each column:
  Student  Math  English  Science  History
0   Aansh  85.0     78.0     92.0     74.0
1   Ankit  91.0     79.0     89.0     77.0
2   Tirth  78.0     95.0     79.0     80.0
3     Tej  79.0     76.0     85.0     85.0
4   Hiren  90.0     85.0     91.0     79.0

In [13]:
# 9. Merging DataFrames
data_extra = {
    "Student": ["Aansh", "Ankit", "Tirth", "Tej", "Hiren"],
    "Art": [88, 92, 85, 87, 90]
}

df_extra = pd.DataFrame(data_extra)

print("\nMerging the original DataFrame with an additional DataFrame:")
df_merged = pd.merge(df, df_extra, on="Student")
print(df_merged)

# Pivot Tables
print("\nCreating a pivot table with the average scores:")
pivot = df.pivot_table(index="Student", values=["Math", "English", "Science", "History"], aggfunc="mean")
print(pivot)

Merging the original DataFrame with an additional DataFrame:
  Student  Math  English  Science  History  Art
0   Ankit    85       78       92       74   92
1     Tej    91       82       89       77   87
2   Tirth    78       95       88       80   85
3   Aansh    83       76       85       85   88
4   Hiren    90       85       91       88   90

Creating a pivot table with the average scores:
         English  History  Math  Science
Student
Aansh       76.0     85.0  83.0     85.0
Ankit       78.0     74.0  85.0     92.0
Hiren       85.0     88.0  90.0     91.0
Tej         82.0     77.0  91.0     89.0
Tirth       95.0     80.0  78.0     88.0

## Student Dataset

In [14]:
df = pd.read_csv("./dataset/student.csv")
# print("Head \n",df.head(5))
print("\nDescribe \n",df.describe())
print("\nMean of Percentage and Percentage past: \n",df[["Percentage","Percentage_Past"]].mean())
print("\n Student Filter greater than 75\n",df[df["Percentage"]>75][["Student_Name","Percentage"]])
print("\nStudent between Percentage between 70 and 80 :\n",df[(df["Percentage"]>=70) & (df["Percentage"]<=80)][["Student_Name","Percentage"]])

Describe
              SID        Age     Per(%)  Percentage  Percentage_Past
count  30.000000  30.000000  30.000000   30.000000        30.000000
mean   15.500000  21.533333  63.066667   63.066667        64.666667
std     8.803408   1.074255  12.899969   12.899969        12.435581
min     1.000000  20.000000  42.000000   42.000000        45.000000
25%     8.250000  21.000000  52.250000   52.250000        55.000000
50%    15.500000  21.000000  62.500000   62.500000        64.500000
75%    22.750000  22.000000  74.000000   74.000000        75.000000
max    30.000000  24.000000  86.000000   86.000000        86.000000

Mean of Percentage and Percentage past:
 Percentage         63.066667
Percentage_Past    64.666667
dtype: float64

 Student Filter greater than 75
                   Student_Name  Percentage
11      Lalcheta Raj Ashokbhai          80
12  Luhar Princekumar Ghisulal          85
13   Macwan Abhishek Kiritbhai          86
14     Maheta Poojan Jigarbhai          80
15  Makwana Abhiraj Pravinbhai          79
16     Mishra Harsh Rajanikant          77
17      Modi Rahul Subhashbhai          78

Student between Percentage between 70 and 80 :
                     Student_Name  Percentage
0                     Bhat Mansi          70
3      Chavada Rajadip Nathabhai          70
4        Chudasma Avniba Dilubha          75
5   Devchandani Aman Nareshkumar          71
11        Lalcheta Raj Ashokbhai          80
14       Maheta Poojan Jigarbhai          80
15    Makwana Abhiraj Pravinbhai          79
16       Mishra Harsh Rajanikant          77
17        Modi Rahul Subhashbhai          78

In [15]:
# print("\nSort by Percentage\n",df.sort_values(by="Percentage",ascending=False)[["Student_Name","Percentage"]])
# print("\nSort by Name\n",df.sort_values(by="Student_Name",ascending=True)[["Student_Name","Percentage"]])
# print("\nGroup by Student name\n",df.groupby('Percentage').first())
# rf = df.groupby('Percentage').first()["Percentage_Past"].mean()
rf = df.groupby('Per(%)').mean('Percentage_Past')
print(f"\nMean of Percentage Past group by Percentage \n{rf}")

Mean of Percentage Past group by Percentage
              SID   Age  Percentage  Percentage_Past
Per(%)
42      25.000000  21.0        42.0             45.0
45      23.500000  22.5        45.0             57.0
48      26.000000  21.0        48.0             48.0
50      16.666667  21.0        50.0             50.0
52      22.000000  23.0        52.0             52.0
53      30.000000  21.0        53.0             71.0
55      24.500000  21.5        55.0             55.0
56      28.000000  22.0        56.0             70.0
60      11.000000  21.5        60.0             60.0
62       9.000000  20.0        62.0             62.0
63      10.000000  20.0        63.0             75.0
64      11.000000  21.0        64.0             64.0
65       7.000000  24.0        65.0             65.0
66       8.000000  21.0        66.0             66.0
70       2.500000  21.0        70.0             72.5
71       6.000000  23.0        71.0             45.0
75       5.000000  22.0        75.0             75.0
77      17.000000  23.0        77.0             75.0
78      18.000000  21.0        78.0             76.0
79      16.000000  22.0        79.0             79.0
80      13.500000  21.5        80.0             81.0
85      13.000000  21.0        85.0             85.0
86      14.000000  21.0        86.0             86.0